* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Avenir";
  src: url(../fonts/font_avenir/AvenirNextLTPro-BoldCnIt.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham-Bold";
  src: url(../fonts/font_gotham/Gotham-Bold.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham-Light";
  src: url(../fonts/font_gotham/Gotham-Light.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
}
clear {
    clear: both;
}

body {
    font-family: "Gotham-Bold";
}
/* Button */
.btn1 {
    
    background: linear-gradient(#105dcb, #13386b);
    color: #fff;
    margin-left: 10px;
    border: 2px solid #fff;
    transform: skewX(-30deg);
    padding: 5px 50px;
    box-shadow: 10px 10px #13386b;
}
.btn1:hover {
    background:radial-gradient(circle at center,#1a8fdf 0,#1a67d5 100%);
    transition: 0.5s all;
}
/* .btns button:active{
    margin-top: 5px ;
    background:radial-gradient(circle at center,#1a8fdf 0,#1a67d5 100%);
    transition: 0.5s all;
} */
.btn1 p {
  transform: skewX(30deg);
  font-size: 20px;
  letter-spacing: 2px;
}
/* Header */
header {
  .space {
    display: flex;
    background-color: #151515;
    padding: 20px;
    justify-content: space-between;

    .logo img {
      width: 500px;
    }
    /* Navbar  */
    .navbar {
      gap: 20px;
    }
    .navbar a{
        color: #fff;
    }
    .navbar a:hover{
        color: #ffff00;
        transition: 0.5s all;
    }
  }
}
/* Video Carousel */
.videoCarousel{
    position: relative;
}
.videoCarousel video{
    width: 100%;
}
.vid_content{
    text-align: center;
    position: absolute;
    top: 195px;
    left: 475px;

}
.vid_content h2{
    color: #ffffff;
    font-size: 1.5rem;
}
